<div class="container" xmlns="http://www.w3.org/1999/html">

    <h1>

        Gruppo: <a ng-href="#/group/{{order.groupId}}/{{order.year}}/{{order.week}}/">{{order.groupId}}</a>
        <a ng-href="#/orders/{{order.groupId}}/{{order.year}}/{{order.previousweek}}/{{order.username}}/">&lt;</a>
        Ordinazione settimana {{order.week}}
        <a ng-href="#/orders/{{order.groupId}}/{{order.year}}/{{order.nextweek}}/{{order.username}}/">&gt;</a>
        </p>
    </h1>
    <form id="shopping-list-form">
        <div class="input-append row-fluid">
            <input type="text" ng-model="search" class="search-query" placeholder="Search">
            <button type="button" class="btn btn-primary" ng-click="orderCtrl.calculateOrderTotal()">Total:
                {{order.total | formatPrice}}</button>

            <button ng-click="orderCtrl.saveOrder()" ng-disabled="shopping-list-form.$invalid" class="btn btn-primary">Save Order</button>
        </div>

        <accordion close-others="true">
            <accordion-group ng-repeat="category in weeklist.categories | orderBy : guiOrder">
                <accordion-heading class="row-fluid span12">
                    {{category.name}} ({{category.items.length}})
                    <input type="text"
                           class="btn btn-info pull-right disabled"
                           style="padding: 0px 0px;margin-bottom: 0px;"
                           ng-show="orderCtrl.getTotals(category)"
                           value="{{orderCtrl.getTotals(category) | formatPrice}}" disabled />
                    <input type="text" value="{{($index + 1)*100}}" ng-model="category.idx"/>
                </accordion-heading>
                <accordion close-others="true">
                <accordion-group ng-repeat="item in category.items | filter:search" class="orderitem row-fluid span12">
                    <accordion-heading class="row-fluid" style="margin-left: 0px; margin-bottom: 0px">

                        <div class="span2 input-append">

                            <input class="input-mini" id="appendedInput" ng-model-onchange
                                   ng-change="orderCtrl.calculateTotals(category)" type="number" step="{{item.step}}" min="0"
                                   placeholder="0" ng-model="order.getitem(item.name).qty"
                                   ng-focus="orderCtrl.toggleEditMode(item)" tabindex="{{orderCtrl.getIndex(category)+$index+1}}"
                                    /> <span class="add-on">{{item.orderUnit}}</span>
                        </div>
                        <div class="span5">
                            <a href="#" ng-click="orderCtrl.toggleEditMode(item)">{{item.name}}</a>
                        </div>
                        <div class="span2 pull-right" >
                            <input type="text" class="btn btn-info pull-right disabled" style="padding: 0px 0px;margin-bottom: 0px;"
                                   value="{{order.getitem(item.name).price | formatPrice}}" disabled ng-show="order.getitem(item.name).editMode"/>
                        </div>
                        <div class="span2 pull-right">{{item.price | formatPrice}}/{{item.priceUnit}}</div>

                    </accordion-heading>
                    <div class="row-fluid span9" style="margin-bottom: 10px">
                        <div class="span1 input-medium btn-danger"
                             ng-click="orderCtrl.decreaseQty(item, category)">
                            <i class="icon-minus"/>
                        </div>
                        <div class="span1 input-medium btn-success" ng-click="orderCtrl.increaseQty(item, category)">
                            <i class="icon-plus"/>
                        </div>
                        <div class="span8">
                            <input type="range" class="input-large"
                                   ng-model="order.getitem(item.name).qty"/>
                        </div>

                    </div>
                </accordion-group>
                </accordion>
            </accordion-group>
        </accordion>

    </form>

</div>

